<div class="container">
  <p id="notice"></p>
    <h1>Publishers</h1>
</div>

<% @employees.each do |employee| %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to employee.name, employee  %></td>
        <td><%= link_to employee.address, employee  %></td>
        <td><%= link_to employee.email, employee %></td>
        <td><%= link_to employee.phonenumber, employee %></td>
        <td><%= link_to employee.position, employee %></td>
        <td><%= link_to 'show', employee %></td>
        <td><%= link_to 'edit', employee %></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/pages/1">Destroy</a></td>
      </tr>
  </tbody>
</table>
<% end %>

<p><%= link_to 'Home', root_path %></p>