<div class="container">
  <p id="notice"></p>
    <h1><%=@employee.name %></h1>
</div>
<P><%=@employee.address %></P>
<P><%=@employee.email %></P>
<P><%=@employee.phonenumber %></P>
<P><%=@employee.position %></P>

<p><%= link_to 'Home', root_path %></p>