<div class="container">
  <p id="notice"></p>
    <h1>Authors</h1>
</div>

<% @authors.each do |author| %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Nationality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to author.name, author  %></td>
        <td><%= link_to author.address, author  %></td>
        <td><%= link_to author.email, author %></td>
        <td><%= link_to author.phonenumber, author %></td>
        <td><%= link_to author.nationality, author %></td>
        <td><%= link_to 'show', author %></td>
        <td><%= link_to 'edit', author %></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/pages/1">Destroy</a></td>
      </tr>
  </tbody>
</table>
<% end %>

<p><%= link_to 'Home', root_path %></p>