<div class="container">
  <p id="notice"></p>
    <h1><%=@author.name %></h1>
</div>
<P><%=@author.address %></P>
<P><%=@author.email %></P>
<P><%=@author.phonenumber %></P>
<P><%=@author.nationality %></P>


<h3>Books</h3>

<p><%= link_to 'Home', root_path %></p>

