<div class="container">
  <p id="notice"></p>
    <h1>Publishers</h1>

<%= paginate @publishers %>
<% if @publishers.empty?%>
  <p> There are no Publisher </p>
<% else %>
<% @publishers.each do |publisher| %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><div class="crop"><%= link_to publisher.name, publisher  %></div></td>
        <td><div class="crop"><%= link_to publisher.address, publisher  %></div></td>
        <td><div class="crop"><%= link_to publisher.email, publisher %></div></td>
        <td><div class="crop"><%= link_to publisher.phonenumber, publisher %></div></td>
        <td><%= link_to 'show', publisher %></td>
        <td><%= link_to 'edit', publisher %></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/pages/1">Destroy</a></td>
      </tr>
  </tbody>
</table>
<% end %>
<% end %>
<p><%= link_to 'Home', root_path %></p>
</div>

