<div class="container">
  <p id="notice"></p>
    <h1>Books</h1>
    <% if @books.empty?%>
  <p> There are no Books </p>
<% else %>
<% @books.each do |book| %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Publish Date</th>
      <th>ISBN</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to book.title, book  %></td>
        <td><%= link_to book.genre, book  %></td>
        <td><%= link_to book.pubdate, book %></td>
        <td><%= link_to book.isbn, book %></td>
        <td><%= link_to 'show', book %></td>
        <td><%= link_to 'edit', book %></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/pages/1">Destroy</a></td>
      </tr>
  </tbody>
</table>
<% end %>
<% end %>

<p><%= link_to 'Home', root_path %></p>
</div>

