<!DOCTYPE html>
<html>
  <head>
    <title>ProjectData</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Online Book Library</a>
      <div class="collapse navbar-collapse"  id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link"><%= link_to 'Book', books_path %></a></li>
          <li><div class="crop"></div></li>
          <li class="nav-item active"><a class="nav-link"><%= link_to 'Pulbishser', publishers_path %></a></li>
          <li><div class="crop"></div></li>
          <li class="nav-item active"><a class="nav-link"><%= link_to 'Author', authors_path %></a></li>
          <li><div class="crop"></div></li>
          <li class="nav-item active"><a class="nav-link"><%= link_to 'Employee', employees_path %></a></li>
          <li><div class="crop"></div></li>
          <li class="nav-item active"><a class="nav-link"><%= link_to 'Appointments', appointments_path %></a></li>
          <li><div class="crop"></div></li>
          <li class="nav-item active"><a class="nav-link"><%= link_to 'About', permalink_path(permalink: 'about_us') %></a></li>
          <li><div class="crop"></div></li>
          <li class="nav-item active"><a class="nav-link"><%= link_to 'FAQ', permalink_path(permalink: 'faq') %></a></li>
        </ul>
         <%= form_tag authors_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search"%>
          <% end %>
        </div>
    </header>

    <%= yield %>
  </body>
</html>